div.content
  div.random
    span.nbr.ltr 0
    span.nbr.ltr 0
    span.nbr.ltr 0
    span.nbr.ltr 0
    span.nbr.ltr 0
    span.space
    span.nbr.ltr 0
    span.nbr.ltr 0
    span.nbr.ltr 0
    span.nbr.ltr 0
    span.nbr.ltr 0
    

